<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>Recommender System</title>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/main-page.css') }}'>
	<h3></h3>
	
	
</head>
<body >
	<div class="container">
		<div class="header">
			<!-- <img id="logo" src="{{url_for('static', filename='img/teamlogo.jpg')}}" /> -->
			<div id=page-header-container><h1 style="color: #303030;"><span id="pageHeader">Popularity based recommender</span></h1></div>
		</div>

		<div class="middle" 2px solid black>
			<div class="inputs">

				<!--Form used to take input from the user -->
				<div class='container'>
					<></div>>		
				</div>
				<!-- also need footer -->
				<div class="footer"></div>
			</div>
		</div>
	</div>
</body>
</html>
